{{page-title "Edit"}}
<div>
  <AuHeading @level="3" @skin="3">
    Pas Persoon Aan
  </AuHeading>
  <SemanticForms::Instance
    @instanceId={{@model.id}}
    @form={{@model.form}}
    @onSave={{this.onSave}}
    @onCancel={{this.onCancel}}
    @formInitialized={{fn (mut this.formInitialized) true}}
    @customHistoryMessage={{true}}
    @initialFormTtl={{this.initialFormTtl}}
    @saveTitle={{if this.restoring "Zet terug" "Pas aan"}}
  />
</div>
<div class="au-u-margin-top">
  <AuHeading @level="3" @skin="3">
    Historiek
  </AuHeading>

  <SemanticForms::History
    @instanceId={{@model.id}}
    @form={{@model.form}}
    @onRestore={{this.onRestore}}
  />
</div>
